<p>GOT A QUESTION OR INQUERY?</p>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9797.442886287994!2d-106.67100434777717!3d52.12775950885092!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5304f6d739438e67%3A0xedae07fdf241d0bf!2s102+2nd+Ave+N%2C+Saskatoon%2C+SK+S7K+2B2%2C+Canada!5e0!3m2!1sen!2s!4v1544311212563" 
        width="100%" 
        height="450" 
        frameborder="0"
        style="border:0" 
        allowfullscreen>
</iframe>

<div class="container">
    <h1>Hero Form</h1>
    <form>
      <div class="form-group">
            <input type="text" class="form-control" id="name" required>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="name" required>
        </div>
      <div class="form-group">
            <input type="email" class="form-control" id="email" required>
      </div>

      <div class="form-group">
        <textarea maxlength="1000"></textarea> 
      </div>   
      <button type="submit" class="btn btn-success">SEND MESSAGE</button>
    </form>
</div>

<aside>
  <h4>CONTACT INFO</h4>
  <p>The Epcot Center is a theme park in Disney World, Florida.</p>
  <p>email: <span>info@display.com</span></p>
  <p>phone: 1 306 222 4545</p>
  <p>102 2nd Ave N, Saskatoon, SK S7K 2B2</p>
  <h4>STORE HOURS</h4>

  <table >
    <tr>
      <td>Monday - Tuesday</td>
      <td>8 am - 3 pm</td>
    </tr>
    <tr>
      <td>Friday</td>
      <td>8 am - 6 pm</td>
    </tr>
    <tr>
      <td>Saturday</td>
      <td>9 am - 5 pm</td>
    </tr>
    <tr>
      <td>Sunday</td>
      <td>Closed</td>
    </tr>
  </table>
</aside>