<div id="msg">
    <p>CHECK OUT WHAT I CAN DO</p>
</div>

<div id="filter-category">
  <ul>
    <li>ALL</li>
    <li>PRINT</li>
    <li>PHOTOGRAPHY</li>
    <li>WEB</li>
    <li>APPLICATION</li>
  </ul>
</div>

<div class="site">
  <div><img src="assets/img/img.png"></div>
  <div><img src="assets/img/img-1.png"></div>
  <div><img src="assets/img/img-2.png"></div>
  <div><img src="assets/img/img-3.png"></div>
  <div><img src="assets/img/img-4.png"></div>
  <div><img src="assets/img/img-5.png"></div>
  <div><img src="assets/img/img-6.png"></div>
  <div><img src="assets/img/img-7.png"></div>
  <div><img src="assets/img/img-8.png"></div>
</div>