<div id="banner">
  <img src="assets/img/slider.png">
</div>

<div id="action_call_1">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
     Pellenesque eu eratiuy lacus, vel congue</p>
  <a class="button" href="#">BROWSE PORTFOLIO</a>
</div>

<div id="video_section">
  <div class="video_section">
    <a href="http://youtube.com">
    <img src="assets/img/video-player-placeholder.jpg" alt="Youtube Video"></a>
  </div>


  <div id="video_description">
    <h2>GET TO KNOW US A LITTLE BETTER!</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
      Vestibulum fringilla arcu in tincidunt malesuada. 
      In scelerisque ut tortor sed laoreet. Nulla in mauris mi. 
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent 
      dictum eu sem molestie malesuada. Nunc et nulla facilisis ipsum finibus 
      aliquet. Cras eu consequat erat, eu condimentum tellus.</p>
  </div>
</div>

<div id="projects">
    <h2>A COUPLE OF OUR FEATURED PROJECTS</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
      Vestibulum fringilla arcu in tincidunt malesuada.</p>
      <div id="carosel">
          <img src="assets/img/img-5.png" alt="Project 1">
          <img src="assets/img/img-4.png" alt="Project 3">
          <img src="assets/img/img-8.png" alt="Project 3">
      </div>
</div>